<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head :: head">
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <div class="row mt-4" th:if="${error}">
        <div class="col text-center">
            <p data-th-text="${error}" class="h4"></p>
            <p data-th-text="${message}"></p>
        </div>
        
    </div>

    <div class=" row mt-4 justify-content-center">
        <div class="col-auto text-center">
            <h3>Login / Register</h3>
            <form action="/user/login" method="POST">
                <table class="mt-4 text-start">
                    <tr>
                        <td><label for="username" class="m-3">Username:</label></td>
                        <td><input type="text" class="form_control m-2" name="username"></td>
                    </tr>

                    <tr>
                        <td><label for="password" class="m-3">Password: </label></td>
                        <td><input type="password" class="form_control m-2" name="password"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-warning m-3" type="submit">Sign In</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div> 
    </div>

    <div class="row mt-4">
        <div class="col">
            <form action="/user/register" method="GET">
                <div class="m-3 text-center">
                    <p>If you do not have an account, please register with the link below.</p>
                    <button class="btn btn-warning" type="submit">Click Here to Register</button>
                </div>
            </form>
        </div>
        
    </div>

</body>
</html>